<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pack.mapper.ExportMapper">
    <select id="selectAll"  resultType="LogiExportVo">
        SELECT *
        from Export
    </select>
    
    <select id="selectByInstNo" parameterType="String" resultType="LogiExportVo">
        SELECT * 
        from Export
        where instruction_no=#{instructionNo};
    </select>
    
    <select id="selectSome" parameterType="LogiExportSearchDTO" resultType="LogiExportVo">
    	select *
    	from Export
    	where
    	<if test='status != null and status neq "전체보기"'>status=#{status} and</if>
    	<if test='location != null and location neq "전체보기"'>location=#{location} and</if>
    	<if test='product_family != null and product_family neq "전체보기"'>product_family=#{product_family} and</if>
    	<if test='from_warehouse != null and from_warehouse neq "전체보기"'>from_warehouse=#{from_warehouse} and</if>
    	<if test='customer != null and customer neq "전체보기"'>customer= like CONCAT('%',#{customer},'%') and</if>
    	<if test='lot_no != null and lot_no neq "전체보기"'>lot_no like CONCAT('%',#{lot_no},'%') and</if>
    	<if test='item_code != null and item_code neq "전체보기"'>item_code like CONCAT('%',#{item_code},'%') and</if>
    	<if test='item_name != null and item_name neq "전체보기"'>item_name=#{item_name} and</if>
    	<!-- <if test="from_warehouse != ''">from_warehouse=#{from_warehouse} and</if> -->
		<if test='unit != null and unit neq "전체보기"'>unit=#{unit} and</if>
    	<if test='order_date != null and order_date neq "전체보기"'>order_date=#{order_date} and</if>
    	<if test='inst_reg_date != null and inst_reg_date neq "전체보기"'>inst_reg_date=#{inst_reg_date} and</if>
    	<if test='inst_deadline != null and inst_deadline neq "전체보기"'>inst_deadline=#{inst_deadline} and</if>
    	<if test='done_date != null and done_date neq "전체보기"'>done_date=#{done_date} and</if>
    	(width between #{min_width} and #{max_width}) and
    	(weight between #{min_weight} and #{max_weight}) and
    	(thickness between #{min_thickness} and #{max_thickness}) and
    	(height between #{min_height} and #{max_height}) and
    	(order_amount between #{min_order_amount} and #{max_order_amount}) and
    	(ex_amount between #{min_ex_amount} and #{max_ex_amount})
    </select>
    
    <insert id="insert" parameterType="LogiExportDTO">
        INSERT
        INTO Export 
        VALUES (
        	#{instruction_no},
        	#{status},
        	#{lot_no},
        	#{item_code},
        	#{item_name},
        	#{order_amount},
        	#{ex_amount},
        	#{ex_remain},
        	#{unit},
        	#{weight},
        	#{width},
        	#{thickness},
        	#{height},
        	#{product_family},
        	#{location},
        	#{from_warehouse},        	
        	#{customer},
        	#{order_date},
        	#{inst_reg_date},
        	#{inst_deadline},
        	#{done_date}
        );
    </insert>
    
    <insert id="inserts" parameterType="List">
    	<foreach collection="data" item="item" index="index">
        INSERT
        INTO Export 
        VALUES (
        	#{item.instruction_no},
        	#{item.status},
        	#{item.lot_no},
        	#{item.item_code},
        	#{item.item_name},
        	#{item.order_amount},
        	#{item.ex_amount},
        	#{item.ex_remain},
        	#{item.unit},
        	#{item.weight},
        	#{item.width},
        	#{item.thickness},
        	#{item.height},
        	#{item.product_family},
        	#{item.location},
        	#{item.from_warehouse},        	
        	#{item.customer},
        	#{item.order_date},
        	#{item.inst_reg_date},
        	#{item.inst_deadline},
        	#{item.done_date}
        );
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="String">
	    delete
		from Export
		where instruction_no=#{instructionNo};
    </delete>
        
    <delete id="deletes" parameterType="List">
    	<foreach collection="logiExportList" item="instructionNo" index="index">
		    delete
			from Export
			where instruction_no=#{instructionNo};
		</foreach>
    </delete>
    
    <update id="cancels" parameterType="List">
    	<foreach collection="logiExportList" item="instructionNo" index="index">
		    update Export
		    SET status = "출고취소"
			where instruction_no=#{instructionNo};
		</foreach>
    </update>
    
    <update id="rollback" parameterType="List">
    	<foreach collection="logiExportList" item="instructionNo" index="index">
		    update Export
		    SET status = "출고대기"
			where instruction_no=#{instructionNo};
		</foreach>
    </update>
    
    <update id="confirm" parameterType="String">
    	UPDATE Export 
    	SET status = "출고완료", done_date=now()
    	WHERE instruction_no=#{instructionNo};
    </update>
    
        <select id="selectByLotNo" parameterType="String" resultType="LogiExportVo">
        SELECT * 
        from Export
        where lot_no=#{lot_no};
    </select>
</mapper>
